body
{
    background-color: lightgray;
}
.div{
    width: 60%;
    display: grid;
    grid-template-columns: 3fr 8fr;
           
    }
label{
    font-size: 20px;
    text-align: left;
    line-height: 55px;
    display: block;
    }
input{
    height: 40px;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    }
.div-2{
    display: grid;
    grid-template-columns: 2fr 8fr;
    font-size: 25px;
    }
.div-2 .part-2 input{
        width: 20px;
        margin-left: 22px; 
    }
h2
{
    color: red;
    text-align: center;
}
p
{
    font-size: 20px;
}
button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}