*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banner{
    height: auto;
    background-image: url('../images/inner-background.jpg');
}
body
{
    overflow-x: hidden;
}
/* header start */
.banner .header{
    width: 100%;
    background-color: rgba(11, 11, 11, 0.597);
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 90px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
  }
.banner .header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  
}
.banner .header .logo span{
    padding-right: 20px;
    font-size: 35px;
    position: absolute;color: white;
    top: 0%;
    right: 0%;
    display: none;
}
.banner .header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .header .nav li{
    display: inline-block;
    position: relative;
    padding: 5px 8px 5px 8px  
}
.banner .header .nav li a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding: 25px 12px 25px 12px;
}

.banner .header .nav .dropdown1{
    width: 180px;
    position: absolute;
    top: 150%;
    left: 20%;
    text-align: center;
    visibility: hidden;
    transition: 0.5s;
    z-index: 3;
}
.banner .header .nav .dropdown1 li{
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #ededed;
}
.banner .header .nav .dropdown1 li a{
    padding: 10px 0;
    background-color: white;
    display: block;
    color: black;
}
.banner .header .nav ul li:hover .dropdown1{
    visibility: visible;
    top: 105%;
}
.banner .header .nav .dropdown2{
    width: 180px;
    position: absolute;
    top: 150%;
    left: 20%;
    text-align: center;
    visibility: hidden;
    transition: 0.5s;
    z-index: 3;
}
.banner .header .nav .dropdown2 li{
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #ededed;
}
.banner .header .nav .dropdown2 li a{
    padding: 10px 0;
    background-color: white;
    display: block;
    color: black;
}
.banner .header .nav ul li:hover .dropdown2{
    visibility: visible;
    top: 105%;
}
.banner .header .nav .dropdown3{
    width: 180px;
    position: absolute;
    top: 150%;
    left: 20%;
    text-align: center;
    visibility: hidden;
    transition: 0.5s;
    z-index: 4;
}
.banner .header .nav .dropdown3 li{
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #ededed;
}
.banner .header .nav .dropdown3 li a{
    padding: 10px 0;
    background-color: white;
    display: block;
    color: black;
}
.banner .header .nav ul .blog:hover .dropdown3{
    visibility: visible;
    top: 105%;
}
.banner .header .nav .dropdown4{
    width: 180px;
    position: absolute;
    top: 150%;
    left: 20%;
    text-align: center;
    visibility: hidden;
    transition: 0.5s;
    z-index: 5;
}
.banner .header .nav .dropdown4 li{
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #ededed;
}
.banner .header .nav .dropdown4 li a{
    padding: 10px 0;
    background-color: white;
    display: block;
    color: black;
}
.banner .header .nav ul .pages:hover .dropdown4{
    visibility: visible;
    top: 105%;
}
.banner .header .nav .dropdown5{
    width: 180px;
    position: absolute;
    top: 150%;
    left: 20%;
    text-align: center;
    visibility: hidden;
    transition: 0.5s;
    z-index: 5;
}
.banner .header .nav .dropdown5 li{
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #ededed;
}
.banner .header .nav .dropdown5 li a{
    padding: 10px 0;
    background-color: white;
    display: block;
    color: black;
}
.banner .header .nav ul .pages:hover .dropdown5{
    visibility: visible;
    top: 105%;
}
.banner .header .nav .dropdown6{
    width: 180px;
    position: absolute;
    top: 150%;
    left: 20%;
    text-align: center;
    visibility: hidden;
    transition: 0.5s;
    z-index: 5;
}
.banner .header .nav .dropdown6 li{
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #ededed;
}
.banner .header .nav .dropdown6 li a{
    padding: 10px 0;
    background-color: white;
    display: block;
    color: black;
}
.banner .header .nav ul .pages:hover .dropdown6{
    visibility: visible;
    top: 105%;
}


.banner .header .services{
    word-spacing: 10px;
    color: white;
    padding: 33px 0px 0px 100px;
}
.banner .header .services i{
    margin-left: 10px;
    font-size: 16px;
}
.banner .slider{
    height: 500px;
    color: white;
    position: relative;
}
.banner .slider .text{
    position: absolute;
    top: 48%;
    left: 6%;
}
.banner b{
    padding: 15px 25px;
    background-color: white;
    position: absolute;color: black;
    border-radius: 15%;
    top: 45%;
    right: -1%;
    position: fixed;
}
/* header end */

.footer{
    height: auto;
    background: url(../images/footer-bg.jpg) ;
    padding: 80px 0;
}
.footer p{
    color: #d2d2d2;
}
.footer .container{
    width: 90%;
    display: flex;
    color: white;
}
.footer .contact-us {
    width: 30%;
    text-align: center;
    padding: 10px;
}

.footer .info{
    width: 70%;
}
.footer .info .content1{
    width: 100%;
    display: flex;

}
.footer .info .content2{
    display: flex;   
}
.footer .info .content1 .links{
    width: 20%;
}
.footer .info .content1 .feature{
    width: 20%;
}
.footer .info .content1 .social{
    width: 20%;
}
.footer .info .content1 .subscribe{
    width: 40%;
}
.footer .info .content1 h3{
    margin-bottom: 20px;
}
.footer .info .content1 p{
    margin-bottom: 20px;
}
.footer .info .content1 .subscribe button{
    background: linear-gradient(to left, #ff8c41, #ff5c41);
    border-radius: 0 23px 23px 0;color: white;padding: 8px 12px;
    font-weight: bold;
    margin-left: -5px;
}
.footer .info .content1 .subscribe input{
border-radius: 23px 0px 0px 23px;
padding: 8px 20px;
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
width: 100%;
  /* text-align: center; */
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}
.slider{
    display: flex;
    width: 100%;
    padding: 40px 0;
}
.slider .img{
    width: 15%;
}
.slider .text{
    width: 85%;
    padding-left: 10px;
}



.footer .contact-us p
{
    margin-top: 12px;
}
.footer .contact-us h4{margin-top: 20px;}
.footer .contact-us .social
{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.footer .contact-us .social .social-icons
{
   width: 35px;
   margin-inline: 5px;
}
.footer .contact-us .social .social-icons .icon
{
   height: 35px;
   border-radius: 50%;
   text-align: center;
   padding-top: 8px;
   background: #434445; color: white;
}
.footer .contact-us .social .social-icons:hover .icon
{
    border: 2px solid white;
    cursor: pointer;
}

.subfooter{
    display: flex;
    background-color: #202020;
}
.subfooter .copyright{
    width: 50%;
    padding: 10px 0 10px 70px;color: white;
}
.subfooter .contact{
    width: 50%;
    text-align: end;
    padding:10px 20px 10px 0px;
}
.subfooter .contact a{
   color: black;
   text-decoration: none;
    padding-inline: 10px;
    color: white;
}